.content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

    img {
        z-index: -1;
        height: 450px;
        width: 450px;
        border-radius: 50%;
        border: 8px solid white;
    }
}

.text {
    position: relative;
    text-align: left;
    font-size: 3rem;

    h1 {
        margin: 0;
    }

}

@media screen and (max-width:1390px) {
    .text {
        text-align: left;
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1250px) {
    .content {
        img {
            height: 400px;
            width: 400px;
        }
    }

    .text {
        text-align: center;
        font-size: 2.5rem;


    }
}

@media screen and (max-width:750px) {
    .content {
        img {
            height: 350px;
            width: 350px;
        }
    }

    .text {
        text-align: center;
        font-size: 2.1rem;


    }
}

@media screen and (max-width:650px) {
    .content {
        img {
            height: 220px;
            width: 220px;
        }
    }

    .text {
        text-align: center;
        font-size: 1.8rem;
    }
}

@media screen and (max-width:450px) {
    .content {
        img {
            height: 200px;
            width: 200px;
        }
    }

    .text {
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (max-width:360px) {
    .content {
        img {
            height: 180px;
            width: 180px;
        }
    }

    .text {
        text-align: center;
        font-size: 0.7rem;
    }
}