<div class="Container">
    <div class="text">
        <h1>F</h1>
        <h1 class="dot">R</h1>
        <h1>.</h1>
        <h1></h1>
    </div>
    <div class="for_switch">
        <label style="padding-bottom: 10px;">Dark Theme</label>
        <label class="switch">
            <input (click)="ToogleMode()" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="for_switch">
        <label style="padding-bottom: 10px;">Animation</label>
        <label class="switch">
            <input (click)="ToogleAnimation()" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <ul>
        <li><a target="_blank" href="https://github.com/FilipRybinski"><img src="assets/github.png" alt=""></a></li>
        <!-- <li><a target="_blank" href="https://discord.com/"><img src="/assets/discord.png" alt=""></a></li>
        <li><a target="_blank" href="https://www.instagram.com/white_shfr/"><img src="/assets/instagram.png" alt=""></a>
        </li>
        <li><a target="_blank" href="https://twitter.com/?lang=pl"><img src="/assets/twitter.png" alt=""></a></li> -->
        <li><a target="_blank" href="https://www.linkedin.com/in/filip-rybi%C5%84ski-5b460623b/"><img
                    src="assets/linkedin.png" alt=""></a></li>
        <li><a target="_blank" href=" https://wa.me/48795467266"><img src="assets/whatsapp.png" alt=""></a></li>
    </ul>
    <div class="contact">
        <span><a target="_blank" href="mailto:rybciaw77@gmail.com">Contact</a></span>
    </div>
</div>
