<div class="content">
    <h1 id="heading" class="section-heading">My Skills</h1>
    <div id="square" (click)="ToogleSkills()">
        <span>Show my skills</span>
    </div>
    <div id="skill_content" class="skills-container">
        <div class="skill-information">
            <img src="/assets/html-5.png" alt="">
            <h2>html</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>regular</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/css-3.png" alt="">
            <h2>css3</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>regular</h3>
        </div>
        <div class="skill-information">
            <img style="border-radius: 50%;" src="/assets/js.png" alt="">
            <h2>javascript</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img style="border-radius: 50%;" src="/assets/ts.png" alt="">
            <h2>typescript</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img style="border-radius: 50%;" src="/assets/angular_icon.png" alt="">
            <h2>angular</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/react.png" alt="">
            <h2>angular</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/git.png" alt="">
            <h2>git</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/bootstrap.png" alt="">
            <h2>Bootstrap5</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/english.png" alt="">
            <h2>Bootstrap5</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>B2</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/windows.png" alt="">
            <h2>windows</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>regular</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/linux.png" alt="">
            <h2>linux</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/csharp.png" alt="">
            <h2>C#</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/mysql.png" alt="">
            <h2>MySQL</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
        <div class="skill-information">
            <img src="/assets/php.png" alt="">
            <h2>PHP</h2>
            <div>
                <span class="dot dot_full"></span>
                <span class="dot dot_full"></span>
                <span class="dot "></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <h3>junior</h3>
        </div>
    </div>
</div>