<div class="content">
    <p>Jestem studentem informatyki na Politechnice
        Białostockiej, swoją przygodę z informatyką
        zacząłem w Technikum Elektrycznym.<br />
        Obecnie na
        studiach najlepiej odnajduję się w językach
        javascript oraz typescript, gdyż używam ich do
        tworzenia aplikacji typu SPA.<br />
        W swoim portfolio
        posiadam pracę z wykorzystaniem frameworków
        takich jak React.js oraz Angular, osobiście
        lepiej odnajduję się angularze.<br />
        Mimo, że nie
        posiadam doświadczenia zawodowego to szybko
        się uczę i umiejętnie znajduję pomoc jeśli czegoś
        nie wiem. <br />
        W przyszłości chciałbym rozwijać się w
        kierunku Front-End Developera lub Full-Stack
        Developera<br />
        Aktulanie w wolnym czasie uczę się .NET oraz poznaje nowe technologię które będę mógł wykorzystać w swoich
        projektach.
    </p>
</div>