<div class="main">
    <app-navbar></app-navbar>
    <div class="content">
        <div id="fragments" class="show">
            <img src="/assets/shapes/shape1.png" alt="">
            <img src="/assets/shapes/shape2.png" alt="">
            <img src="/assets/shapes/shape3.png" alt="">
            <img src="/assets/shapes/shape4.png" alt="">
            <img src="/assets/shapes/shape5.png" alt="">
            <img src="/assets/shapes/shape6.png" alt="">
            <img src="/assets/shapes/shape7.png" alt="">
            <img src="/assets/shapes/shape8.png" alt="">
            <img src="/assets/shapes/shape9.png" alt="">
            <img src="/assets/shapes/shape10.png" alt="">
            <img src="/assets/shapes/lego1.png" alt="">
            <img src="/assets/shapes/lego2.png" alt="">
            <img src="/assets/shapes/lego3.png" alt="">
        </div>
        <app-second-navbar></app-second-navbar>
        <div class="content_div" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>